{strip}
{foreach from=$path item=navipath name=navipath}
    {if $navipath.id != ''}
    	 <a href="{$domainname}index.php?p=page&amp;id={$navipath.id}">{$navipath.title}</a>&nbsp;&raquo;&nbsp;
    {else}
    	<span>{$navipath.title}</span>
    {/if}    
{/foreach}
{/strip}