@charset "utf-8";
/* Allgemeine Styleangaben */
body {
	margin: 0;
	background-color: #EEE;
	font-size: 14px;
	font-family: Arial, Georgia;
	color: #505A59;
}

#main {
	background: url('http://muchowitsch.de/templates/images/bg2.jpg');
	width: 1200px;
	margin: 20px auto 50px auto;
	
	box-shadow: 7px 7px 5px #CCC;
	-moz-box-shadow: 7px 7px 5px #CCC;
	-webkit-box-shadow: 7px 7px 5px #CCC;
	
	overflow: hidden;
}

/* grüner Balken auf der Rechten Seite */
#bar {
	position: relative;
	float: right;
	width: 25px;
	height: auto;
	min-height: 600px;
	background-color: #075;
}

/* Navigation */
#navi {
	width: 300px;
	overflow: hidden;
	float: left;
}
#navi ul {
	list-style-type: none;
	margin-left: -20px;
}
#navi ul li.sub { font-style: normal; }
#navi ul li.std { font-weight: bold; }

#navi .nav_button {
	margin-bottom: 5px;
	padding: 0 0 5px 5px;
	border-bottom: 1px solid #CCC;
}
#navi .nav_button a { text-decoration: none; }

#subnavi { margin-top: 40px; margin-bottom: 60px; }
#subnavi a { text-decoration: none; }

/* Hauptbereich für Header- und Content-Bereich */
#mainbox {
	float: left;
	width: 875px;
	margin-bottom: 20px;
}

/* Kopfzeile 
#header { height: 76px; }*/

/* Content */
#content {
	margin-bottom: 20px;
	padding: 20px;
}

/* Fußzeile */
#feet {
	padding: 10px 0 10px 0;
	margin-top: -54px;
	text-align: center;
}
/*#feet a { color: #D2D2D2; text-decoration: none; }
#feet a:link { color: #D2D2D2; text-decoration: none; }
#feet a:visited { color: #D2D2D2; text-decoration: none; }
#feet a:hover {  color: #999; text-decoration: none; }
#feet a:active {  color: #D2D2D2; text-decoration: none; }*/

/*#navi a {
	padding: 5px 10px;
	float: left;
	font-weight: bold;
	text-decoration: none;
	color: #E91385;
	border: solid 1px #AFAFAF;
	margin-right: 10px;
	border-radius: 10px;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	/*box-shadow: 2px 2px 5px #000;
	-moz-box-shadow: 2px 2px 5px #000;
	-webkit-box-shadow: 2px 2px 5px #000;*//*
	box-shadow: 0px 0px 7px #555;
	-moz-box-shadow: 0px 0px 7px #555;
	-webkit-box-shadow: 0px 0px 7px #555;
	
	background: #EFEFEF;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#EFEFEF), to(#AFAFAF));
	background: -moz-linear-gradient(top, #EFEFEF, #AFAFAF);	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#EFEFEF, endColorstr=#AFAFAF);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#EFEFEF, endColorstr=#AFAFAF)";
	background-repeat:no-repeat;
}
#navi a:hover {	
	background: #BFBFBF;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#BFBFBF), to(#DFDFDF));
	background: -moz-linear-gradient(top, #BFBFBF, #DFDFDF);	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#BFBFBF, endColorstr=#DFDFDF);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#BFBFBF, endColorstr=#DFDFDF)";
	background-repeat:no-repeat;
}
#navi a.inactive {
	background: #BFBFBF;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#BFBFBF), to(#DFDFDF));
	background: -moz-linear-gradient(top, #BFBFBF, #DFDFDF);	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#BFBFBF, endColorstr=#DFDFDF);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#BFBFBF, endColorstr=#DFDFDF)";
	background-repeat:no-repeat;
}*/

/* Buttons */
button {
	padding: 3px 7px;
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;
	color: #505A59;
	border: solid 1px #AFAFAF;
	margin-right: 10px;
	border-radius: 10px;
	cursor: pointer;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	box-shadow: 3px 3px 5px #CCC;
	-moz-box-shadow: 3px 3px 5px #CCC;
	-webkit-box-shadow: 3px 3px 5px #CCC;
	/*box-shadow: 0px 0px 7px #555;
	-moz-box-shadow: 0px 0px 7px #555;
	-webkit-box-shadow: 0px 0px 7px #555;*/
	
	background: #EFEFEF;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#EFEFEF), to(#AFAFAF));
	background: -moz-linear-gradient(top, #EFEFEF, #AFAFAF);	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#EFEFEF, endColorstr=#AFAFAF);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#EFEFEF, endColorstr=#AFAFAF)";
	background-repeat:no-repeat;
}
button:hover { 
	background: #BFBFBF;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#BFBFBF), to(#DFDFDF));
	background: -moz-linear-gradient(top, #BFBFBF, #DFDFDF);	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#BFBFBF, endColorstr=#DFDFDF);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#BFBFBF, endColorstr=#DFDFDF)";
	background-repeat:no-repeat;
}
button.inactive {
	color: #777;
	cursor: default;
	background: #BFBFBF;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#BFBFBF), to(#DFDFDF));
	background: -moz-linear-gradient(top, #BFBFBF, #DFDFDF);	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#BFBFBF, endColorstr=#DFDFDF);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#BFBFBF, endColorstr=#DFDFDF)";
	background-repeat:no-repeat;
}

/* extra Schriftart einbinden */
@font-face { font-family: EngraversGothic; src: url("engravers_gothic.eot"); }
@font-face { font-family: EngraversGothic; src: url("engravers_gothic.ttf"); }

/* Schatten */
.shadow {
	box-shadow: 3px 3px 5px #CCC;
	-moz-box-shadow: 3px 3px 5px #CCC;
	-webkit-box-shadow: 3px 3px 5px #CCC;
}
.shadow_bottom {
	box-shadow: 0px 3px 5px #CCC;
	-moz-box-shadow: 0px 3px 5px #CCC;
	-webkit-box-shadow: 0px 3px 5px #CCC;
}
.shadow_right {
	box-shadow: 3px 0px 5px #CCC;
	-moz-box-shadow: 3px 0px 5px #CCC;
	-webkit-box-shadow: 3px 0px 5px #CCC;
}

p { margin: 0; line-height: 19px; }
img {border: 0 }

h1, h2 {
	margin: 0 0 10px 0;
	font: 22px EngraversGothic, Tahoma, Geneva, sans-serif;
	color: #075;
}

/* Links */
a { color: #505A59; text-decoration: none; }
a:link { color: #505A59; text-decoration: underline; }
a:visited { color: #505A59; text-decoration: underline; }
a:hover {  color: #075; text-decoration: none; }
a:active {  color: #075; text-decoration: underline; }

/* Listenelemente */
ul {
	margin-left: -25px;	
}

/* Cursor */
.pointer { cursor: pointer }

/* Aussenabstände */
.m_all { margin:10px }
.m_top { margin-top:10px }
.m_right { margin-right:10px }
.m_bottom { margin-bottom:10px }
.m_left { margin-left:10px }

.m_all_5m { margin:-5px }
.m_top_5m { margin-top:-5px }
.m_right_5m { margin-right:-5px }
.m_bottom_5m { margin-bottom:-5px }
.m_left_5m { margin-left:-5px }

.m_all_10m { margin:-10px }
.m_top_10m { margin-top:-10px }
.m_right_10m { margin-right:-10px }
.m_bottom_10m { margin-bottom:-10px }
.m_left_10m { margin-left:-10px }

.m_all_5 { margin:5px }
.m_top_5 { margin-top:5px }
.m_top_15 { margin-top:15px }
.m_top_20 { margin-top:20px }
.m_right_5 { margin-right:5px }
.m_right_15 { margin-right:15px }
.m_right_20 { margin-right:20px }
.m_bottom_5 { margin-bottom:5px }
.m_bottom_15 { margin-bottom:15px }
.m_bottom_20 { margin-bottom:20px }
.m_left_5 { margin-left:5px }
.m_left_15 { margin-left:15px }
.m_left_20 { margin-left:20px }
.m_auto {margin:auto; }

/* Innenabstände */
.p_all { padding:5px }
.p_top { padding-top:5px }
.p_right { padding-right:5px }
.p_bottom { padding-bottom:5px }
.p_left { padding-left:5px }

.p_all_10 { padding:10px }
.p_top_10 { padding-top:10px }
.p_right_10 { padding-right:10px }
.p_bottom_10 { padding-bottom:10px }
.p_left_10 { padding-left:10px }

/* Floating */
.left {	float:left }
.right { float:right }
.clear { clear:both }

/* Versteckte Objekte */
.dpl_none { display:none }
.dpl_block { display:block }

/* Schriftstyles */
.bold { font-weight:bold }
.ta_center { text-align:center }
.ta_left { text-align:left }
.ta_right { text-align:right }
.fs_10 { font-size: 10px }
.fs_11 { font-size: 11px }
.fs_12 { font-size: 12px }
.fs_14 { font-size: 14px }

.fs_16 { font-size: 16px }
.underlined { text-decoration: underline; }
.i { font-style: italic; }

/* Schriftfarben */
.tc_green { color: #075 }
.tc_lgrey { color: #D2D2D2 }
.tc_red { color: #8F0808 }
.tc_black { color: #000 }
.highlight { background-color: #FF9 }

/* Breitenangaben */
.box100% { width:100% }
.box60 { width:60px }
.box100 { width:100px }
.box130 { width:130px }
.box150 { width:150px }
.box250 { width:250px }
.box260 { width:260px }
.box275 { width:275px }
.box300 { width:300px }
.box400 { width:400px }
.box450 { width:450px }
.box500 { width:500px }
.box600 { width:600px }
.box730 { width:730px }
.box750 { width:750px }
.box1000 { width:1000px }
.box1280 { width:1280px }

/* Höhenangaben */
.h210 { height:210px }

/* Runde Ecken */
.rounded	{ border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px }
.rounded_left	{ border-radius: 10px 0 0 10px; -webkit-border-top-left-radius: 10px; -webkit-border-bottom-left-radius: 10px; -moz-border-radius: 10px 0 0 10px }
.rounded_right	{ border-radius: 0 10px 10px 0; -webkit-border-top-right-radius: 10px; -webkit-border-bottom-right-radius: 10px; -moz-border-radius: 0 10px 10px 0 }
.rounded_top	{ border-radius: 10px 10px 0 0; -webkit-border-top-left-radius: 10px; -webkit-border-top-right-radius: 10px; -moz-border-radius: 10px 10px 0 0 }
.rounded_bottom	{ border-radius: 0 0 10px 10px; -webkit-border-bottom-left-radius: 10px; -webkit-border-bottom-right-radius: 10px; -moz-border-radius: 0 0 10px 10px }

/* Hintergrundfarben */
.bgc_lgrey { background-color:#D2D2D2 }
.bgc_magenta { background-color: #E91385 }
.bgc_red { background-color: #FEA2AC }

/* Hintergrundverlauf */
.bgc_flow {
	background: #EFEFEF;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#EFEFEF), to(#AFAFAF));
	background: -moz-linear-gradient(top, #EFEFEF, #AFAFAF);	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#EFEFEF, endColorstr=#AFAFAF);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#EFEFEF, endColorstr=#AFAFAF)";
	background-repeat:no-repeat;	
}

/* Rahmen */
.b_all { border: solid 1px #777 }
.b_top { border-top: solid 1px #777 }
.b_left { border-left: solid 1px #777 }
.b_bottom { border-bottom: solid 1px #777 }
.b_right { border-right: solid 1px #777 }

.b_top_dotted { border-top: 1px dotted #BBB }
.b_bottom_dotted { border-bottom: 1px dotted #BBB }

/* Rahmenfarben */
.bc_lgrey{ border-color:#D2D2D2 }
.bc_sgrey{ border-color:#555 }
.bc_magenta { border-color: #E91385 }
.bc_red{ border-color:#C00 }
.bc_green{ border-color:#007755 }