/* Administrations CSS */

/* Body Administrationsbereich */
.admin_body {
	margin: 10px;
	font: normal 11px Tahoma, Verdana, Helvetica, sans-serif;
}

/* Allgemeingültge Eigenschaften */
h1 { color:#000/*#033AA1*/; margin: 0 0 10px 0; font-size: 18px; padding: 0px; font-weight: bold; font-family: Verdana, Helvetica }
img { border:0 }
p { font:normal 11px Tahoma, Verdana, Helvetica, sans-serif }
a:link { color: #1B6ECC; text-decoration: none; }
a:visited { color: #1B6ECC; text-decoration: none; }
a:hover { color: #69B271; text-decoration: none; }
a:active { color: #1B6ECC; text-decoration: none; }

/* Buttons */
button { max-height:20px; padding:2px 10px 0 10px; font:bold 11px Arial, Helvetica, sans-serif; vertical-align:middle; color:#AAA; border-top:1px solid #C8C8C8; border-left:1px solid #C8C8C8; border-right:1px solid #999; border-bottom:1px solid #999 }
button.active { color:#666 }
button.active:hover { color:#444; cursor:pointer; border-top:1px solid #DDD; border-bottom:1px solid #999; border-left:1px solid #DDD; border-right:1px solid #999 }

/* Tabellenheader */
.header {
	height: 40px;
	padding: 4px 10px 4px 10px;
	font-weight: bold;
	color: #000;
	
	background: #EFEFEF;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#EFEFEF), to(#AFAFAF));
	background: -moz-linear-gradient(top, #EFEFEF, #AFAFAF);	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#EFEFEF, endColorstr=#AFAFAF);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#EFEFEF, endColorstr=#AFAFAF)";
	background-repeat:no-repeat;
}

/* Zellenfarben */
.cella {
	background-color: #FAFAFA;
}

.cellb {
	background-color: #F5F5F5;
}

/* Schatteneffekt */
.shadow	{ 
	box-shadow: 2px 2px 2px rgba(0,0,0,5);
	-webkit-box-shadow: 2px 2px 2px rgba(0,0,0,5);
	-moz-box-shadow: 2px 2px 2px rgba(0,0,0,5);
	ms-filter:"progid:DXImageTransform.Microsoft.DropShadow(color=rgba(0,0,0,5), offx=2, offy=2)";
    filter:progid:DXImageTransform.Microsoft.DropShadow(color=rgba(0,0,0,5), offx=2, offy=2);
}
.shadow_bottom	{ 
	border-bottom: 2px solid rgba(0,0,0,5);
	/*box-shadow: 0px 2px 2px rgba(0,0,0,5);
	-webkit-box-shadow: 0px 2px 2px rgba(0,0,0,5);
	-moz-box-shadow: 0px 2px 2px rgba(0,0,0,5);
	ms-filter:"progid:DXImageTransform.Microsoft.DropShadow(color=rgba(0,0,0,5), offx=0, offy=2)";
    filter:progid:DXImageTransform.Microsoft.DropShadow(color=rgba(0,0,0,5), offx=0, offy=2);*/
}

/* Login */
.loginbg {
	background: #EFEFEF;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#EFEFEF), to(#AFAFAF));
	background: -moz-linear-gradient(top, #EFEFEF, #AFAFAF);	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#EFEFEF, endColorstr=#AFAFAF);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#EFEFEF, endColorstr=#AFAFAF)";
	background-repeat:no-repeat;
}

/* Contentbereich */
.content {
	margin-left:235px;
	min-height:575px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding: 10px;
		
	/* Hintergrund */
	background: #EFEFEF;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#EFEFEF), to(#AFAFAF));
	background: -moz-linear-gradient(top, #EFEFEF, #AFAFAF);	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#EFEFEF, endColorstr=#AFAFAF);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#EFEFEF, endColorstr=#AFAFAF)";
	background-repeat:no-repeat;	
		
	/* Schatten */
	box-shadow: 2px 2px 2px rgba(0,0,0,5);
	-webkit-box-shadow: 2px 2px 2px rgba(0,0,0,5);
	-moz-box-shadow: 2px 2px 2px rgba(0,0,0,5);
	ms-filter:"progid:DXImageTransform.Microsoft.DropShadow(color=rgba(0,0,0,5), offx=2, offy=2)";
    filter:progid:DXImageTransform.Microsoft.DropShadow(color=rgba(0,0,0,5), offx=2, offy=2);
}

/* Elementausrichtung */
.left		{ float:left }
.right		{ float:right }
.clear		{ clear:both }

/* Container-breitenangabe */
.box235		{ width:235px }

/* Container-höhenangabe */
.h85		{ min-height:85px }

/* Innenabstände */
.p_all		{ padding:5px 5px 5px 5px }
.p_left		{ padding-left:5px }
.p_right	{ padding-right:5px }
.p_top		{ padding-top:5px }
.p_bottom	{ padding-bottom:5px }

/* Außenabstände */
.m_all		{ margin:10px 10px 10px 10px }
.m_left		{ margin-left:10px }
.m_right	{ margin-right:10px }
.m_top		{ margin-top:10px }
.m_bottom	{ margin-bottom:10px }

.m_all_5	{ margin:5px 5px 5px 5px }
.m_left_5	{ margin-left:5px }
.m_right_5	{ margin-right:5px }
.m_top_5	{ margin-top:5px }
.m_bottom_5	{ margin-bottom:5px }

/* Hintergrundfarben */
.bgc_grey	{ background-color:#F4F4F4 }
.bgc_lgrey	{ background-color:#F8F8F8 }
.bgc_sgrey	{ background-color:#DEDEDE }
.bgc_sgrey2	{ background-color:#EFEFEF }
.bgc_white	{ background-color:#FFF }
.bgc_blue	{ background-color:#14A6E4 }
.bgc_green	{ background-color:#69B271 }

/* Textfarben */
.tc_red { color:#C00 }
.tc_green { color:#69B271 }

/* Rahmen */
.b_all 		{ border: 1px solid }
.b_left		{ border-left: 1px solid }
.b_right	{ border-right: 1px solid }
.b_top 		{ border-top: 1px solid }
.b_bottom	{ border-bottom: 1px solid }

.b_bottom_dotted { border-bottom-width:1px; border-bottom-style:dotted }

/* Rahmenfarbe */
.bc_lgrey	{ border-color:#D7D7D7 }

/* Rahmen Radien */
.rounded	{ border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px }
.rounded_left	{ border-radius: 10px 0 0 10px; -webkit-border-top-left-radius: 10px; -webkit-border-bottom-left-radius: 10px; -moz-border-radius: 10px 0 0 10px }
.rounded_right	{ border-radius: 0 10px 10px 0; -webkit-border-top-right-radius: 10px; -webkit-border-bottom-right-radius: 10px; -moz-border-radius: 0 10px 10px 0 }
.rounded_top	{ border-radius: 10px 10px 0 0; -webkit-border-top-left-radius: 10px; -webkit-border-top-right-radius: 10px; -moz-border-radius: 10px 10px 0 0 }
.rounded_bottom	{ border-radius: 0 0 10px 10px; -webkit-border-bottom-left-radius: 10px; -webkit-border-bottom-right-radius: 10px; -moz-border-radius: 0 0 10px 10px }

/* Text-Ausrichtung */
.t_center	{ text-align:center }

/* TEXT FORMATIERUNGEN */
.bold		{ font-weight:bold }
.underlined		{ text-decoration:underline }
.fs_11 { font-size: 11px }
.fs_12 { font-size: 12px }
.fs_14 { font-size: 14px }

/* Linkfarbe */
a.red { color:#C00 }
a.red:hover { color:#69B271 }

/* Cursor */
.pointer { cursor: pointer }

/* Element verstecken */
.dpl_none { display: none }
