{strip}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1" />
    <title>{$title}</title>
    <link rel="stylesheet" type="text/css" href="{$admindomain}templates/admin.css" />
    <link rel="shortcut icon" type="image/x-icon" href="{$domainname}{$img_path}favicon.ico" />
</head>
<body class="admin_body">
{/strip}