<h1 class="tc_red">Zugriff verweigert!</h1>

<p class="m_top p_top bold">Sie haben keine Berechtigung diese Seite zu betreten. Bitte wenden Sie sich an den Administrator.</p>

<p class="m_top p_top"><button type="button" name="button" class="active" value="Zur&uuml;ck" onclick="history.go(-1);"><span class="tc_red">Zur&uuml;ck</span></button></p>